.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.qr-code--button {
    margin-top: 2rem;
    width: 22rem;
    height: 6rem;
    font-size: 2rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    border: none;
    background-color: #ef8e26;
    color: #bd5c2d;
    border: solid 1px #eca457;
    outline: none;
}

.qr-code--button:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 82%);
    position: relative;
    top: -1px;
    left: -1px;
    background-color: #f19634;
}

.qr-code--button:active {
    position: initial;
}

.qr-code--border {
    border: 0.3rem solid rgb(239, 143, 38);
    border-radius: 0.5rem;
}