.badge--avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .25rem;
    font-size: .8rem;
    cursor: pointer;
}

.badge--avatar:hover {
    position: relative;
    top: -1px;
    left: -1px;
}

.badge--avatar:active {
    position: initial;
}

.badge--image {
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.badge--icon {
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    border-radius: 50%;
    font-size: 4rem;
}

.badge--name {
    position: relative;
    top: -.8rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    border-radius: 2px;
    font-weight: 600;
    padding: 0 .4rem;
    width: 5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.badge--icon:hover, .badge--name:hover, .badge--image:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.82);
}

.badge--vote {
    position: absolute;
    left: 1rem;
    bottom: 3.3rem;
    border-radius: 50%;
    padding: .2rem;
    font-weight: 600;
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge--star {
    position: absolute;
    bottom: 3.8rem;
    left: -2.7rem;
    color: #f7f02e;
    font-size: 1.5rem;
}

.badge--theme-primary {
    border: solid #bd5c2d .15rem;
    background: #bd5c2c;
}

.badge--theme-secondary {
    border: solid #1c8a2b .15rem;
    background: #1c8a2b;
}

.badge--theme-primary-name {
    border: solid #bd5c2d .15rem;
    background: #ffb86c;
    color: #bd5c2d;
}

.badge--theme-secondary-name {
    border: solid #1c8a2b .15rem;
    background: #8be898;
    color:#1d8a2c;
}

.badge--theme-primary-vote {
    background: #ef8e26;
    color: #bd5c2d;
    border: solid 3px #bd5c2d;
}

.badge--theme-secondary-vote {
    background: #3fcf52;
    color: #1c8a2b;
    border: solid 3px #1c8a2b;
}

.badge--hidden {
    visibility: hidden;
}

.badge--relative {
    position: relative;
    width: 0;
    height: 0
}