.board {
    margin: 0 1rem;
    color: #f08d26;
    font-size: 1.3rem;
    background: #282d33;
    padding: .5rem 2rem;
    width: 40rem;
    height: 100%;
    overflow: auto;
    border-top: .2rem solid #ef8f26;
}

.board--spacer {
    height: 4rem;
}