.pig {
    margin: 0 1rem;
    color: #25ad38;
    font-size: 1.3rem;
    background: #282d33;
    padding: .5rem 2rem;
    width: 40rem;
    height: 100%;
    overflow: auto;
    border-top: .5rem solid #26ac39;
}

.pig--spacer {
    height: 4rem;
}