.error-message {
    background-color: #B02122;
    color: antiquewhite;
    padding: 1rem;
    text-align: center;
    border-radius: .2rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 60%);
}

.error-message--title {
    font-size: 1.6rem;
    color: #f0a8a8;
    margin-bottom: 2rem;
}

.error-message--message {
    font-size: 1.8rem;
}