.badge-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #313f4f;
    border-radius: .3rem;
    box-shadow: 0 2px 4px rgb(0 0 0);
    width: 35rem;
    text-align: center;
    padding: 1.5rem 2rem;
    border: solid .1rem #1d8a2c;
    z-index: 50;
}

.badge-form h1 {
    color: #6bae6f;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 0;
}

.badge-form--input {
    display: flex;
    flex-direction: column;
}

.badge-form--buttons {
    text-align: end;
    margin-top: 3rem;
}

.badge-form input[type='text'] {
    border-radius: 2rem;
    border: none;
    padding: .2rem .8rem;
    border: solid .2rem transparent;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

.badge-form input[type='submit'], .badge-form button {
    width: 5rem;
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    width: auto;
    color: #6bae6f;
    padding: .5rem 1rem;
    border-radius: .2rem;
    font-size: 1.8rem;
}

.badge-form input[type='submit']:hover, .badge-form button:hover {
    background-color: rgba(0, 0, 0, .3);
}

.badge-form input[type='submit']:focus, .badge-form button:focus, .badge-form input[type='text']:focus {
    outline: none;
}

.badge-form input[type='text']:focus {
    border-color: #1d8a2c;
}