.result {
    display: flex;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.result--story {
    width: 6rem;
    text-align: center;
}

.result--estimate {
    width: 15rem;
    text-align: center;
}

.result--duration {
    width: 9rem;
    text-align: center;
}