.card {
    border: solid 1px #26ac39;
    border-radius: .2rem;
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 2.3rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.card:hover {
    position: relative;
    top: -1px;
    left: -1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.82);
    background-color: rgba(0, 0, 0, .30);
}

.card:active {
    top: 0;
    left: 0;
}