.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202326;
    height: 100%;
}

@media screen and (min-width: 580px) {
    html {
        font-size: 15px;
    }
  }

@media screen and (max-width: 580px) {
    html {
        font-size: 0.5rem;
    }
  }