.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.app-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2.8rem;
}